<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178675810011-o9opk5qvhra3u404202vsvo6166g8uuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178675810011-o9opk5qvhra3u404202vsvo6166g8uuf</string>
	<key>API_KEY</key>
	<string>AIzaSyArL_qVSg97I3dkRE1IUZQrnup4LO6D5Ks</string>
	<key>GCM_SENDER_ID</key>
	<string>178675810011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weeldonatedproject</string>
	<key>PROJECT_ID</key>
	<string>welldonated-61f8a</string>
	<key>STORAGE_BUCKET</key>
	<string>welldonated-61f8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178675810011:ios:02b5981900659ce71d96fe</string>
</dict>
</plist>